<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">



    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Find the best tutor <br />
                    <span style="color: hsl(218, 81%, 75%)">for your child</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="text-center">
                        <h1 class="" id="mess">
                            <ng-container>
                                <div class="btn btn-success text-capitalize " *ngIf="registered">
                                    {{message}}</div>
                            </ng-container>
                            <ng-container>
                                <div class="btn btn-danger text-capitalize" *ngIf="!registered">
                                    {{message}}</div>
                            </ng-container>
                        </h1>
                    </div>
                    <div class="card-body px-4 py-5 px-md-5">

                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input required type="text" id="form3Example1" class="form-control"
                                            [(ngModel)]="user.firstName" name="firstName" id="firstName" />
                                        <label class="form-label" for="form3Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example2" class="form-control"
                                            [(ngModel)]="user.lastName" name="lastName" id="lastName" />
                                        <label class="form-label" for="form3Example2">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control" [(ngModel)]="user.email"
                                    name="email" id="email" />
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>

                            <!-- Phone input -->
                            <div class="form-outline mb-4">
                                <input type="phone" class="form-control" [(ngModel)]="user.phoneNo" name="phone"
                                    id="phone" />
                                <label class="form-label" for="phone">Phone Number</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control"
                                    [(ngModel)]="user.password" name="password" id="password" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <!-- Confirm Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="cpass" class="form-control" [(ngModel)]="confirmPassword"
                                    name="cpass" id="cpass" />
                                <label class="form-label" for="cpass">Confirm Password</label>
                            </div>



                            <!-- Submit button -->
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <a href="#mess">
                                <button type="submit" class="btn btn-primary btn-block mb-4" (click)="registerUser()">
                                    Sign up
                                </button></a>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="login"
                                        class="link-danger">Login</a></p>

                            </div>

                            <!-- Register buttons -->
                            <div class="text-center mt-3">
                                <p>or sign up with:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fa fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fa fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fa fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fa fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->